// metal mania
@font-face {
    font-family: "Metal Mania";
    src:    url(/assets/fonts/MetalMania-Regular.ttf) format("ttf"),
            url(/assets/fonts/MetalMania-Regular.woff) format("woff"),
            url(/assets/fonts/MetalMania-Regular.woff2) format("woff2");
}

//roboto
@font-face {
    font-family: "Roboto";
    src:    url(/assets/fonts/Roboto-Regular.ttf) format("ttf"),
            url(/assets/fonts/Roboto-Regular.woff) format("woff"),
            url(/assets/fonts/Roboto-Regular.woff2) format("woff2");
}


//beu rivage
@font-face {
    font-family: "Beau Rivage";
    src: url(/assets/fonts/BeauRivage-Regular.ttf) format("ttf"),
    url(/assets/fonts/BeauRivage-Regular.woff) format("woff"),
    url(/assets/fonts/BeauRivage-Regular.woff2) format("woff22");
}

//source sans3
@font-face {
    font-family: "SourceSans3";
    src: url(/assets/fonts/SourceSans3-Regular.ttf) format("ttf"),
    url(/assets/fonts/SourceSans3-Regular.woff) format("woff"),
    url(/assets/fonts/SourceSans3-Regular.woff2) format("woff2");
}

//orbitron
@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-Regular.ttf) format("ttf"),
    url(/assets/fonts/Orbitron-Regular.woff) format("woff"),
    url(/assets/fonts/Orbitron-Regular.woff2) format("woff2");
}

//orbitron
@font-face {
    font-family: "Tapestry";
    src: url(/assets/fonts/Tapestry-Regular.ttf) format("ttf"),
    url(/assets/fonts/Tapestry-Regular.woff) format("woff"),
    url(/assets/fonts/Tapestry-Regular.woff2) format("woff2");
}